_<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/hosts">Meeting Scheduler</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/hosts">Host</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hosts/new">Create Host</a>
      </li>
       <li class="nav-item">
          <a class="nav-link" href="/meetings">Meeting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/meetings/new">Create Meeting</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/participants">Partcipant</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/participants/new">Create Partcipant</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/associate">Link Participant to Meeting</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/associate">Create Associate</a>
      </li>
      </ul>
    </div>
  </div>
</nav>