<h1>Create Hosts</h1>
<form action="/hosts" method="post">
	<div class="form-group">
		<label>FullName:</label>
		<input type="text" name="host[FullName]" class="form-control">
	</div>
	<div class="form-group">
		<label>Email:</label>
		<input type="text" name="host[email_address]" class="form-control">
	</div>
	<input type="submit" value="Create" class="btn btn-primary">
</form>
<% if flash[:errors] %>
	<% flash[:errors].each do |e| %>
	<div class="alert alert-danger"><%= e %></div>
	<% end %>
<% end %>
	