<h1>Respond to a meeting</h1>
<form action="participants/:id/respond" method="post">
	<div>
		<label>Respond:</label>
		<select name="associate[respond]">
			<option></option>
			<option value="Yes>"></option>
			<option value="No>"></option>
			<option value="Maybe>"></option>
			<% end %>
		</select>
	</div>
	<div>
		<label>Meeting:</label>
		<select name="associate[meeting_id]">
			<option></option>
			<% @meetings.each do |meeting| %>
			<option value="<%= meeting.id %>"><%= meeting.location%></option>
			<% end %>
		</select>
	</div>
	<input type="submit" value="Add">
</form>
<% if flash[:errors] %>
	<% flash[:errors].each do |e| %>
	<div><%= e %></div>
	<% end %>
<% end %>